  <h1>Dashboard</h1>

  <% if (current_user.role.downcase == "dj") %>
  <td><%= image_tag current_user.profile_photo.url(:medium) %></td>
  <% end %>

  <h2>Listing tracks for <%= User.find(current_user.id).username %></h2>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Dj</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td><%= track.title %></td>
          <td><%= User.find(track.user_id).username %></td>
          <td><%= link_to 'Show', track %></td>
          <% if (current_user.role.downcase == "dj") %>
          <td><%= link_to 'Edit', edit_track_path(track) %></td>
          <td><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if (current_user.role.downcase == "dj") %>
  <%= link_to 'New Track', new_track_path %>
  <% end %>